<div id="aside-region" class="col-md-3"></div>
<div id="content-region" class="col-md-9">
	<h1>Welcome to Tracktivity</h1>
	<p class="lead">Select a user from the list to browse his activities. Or you can switch to the <a href="/live">Live Tracking</a> view to see if anybody records an activity at the moment.</p>
</div>
